# Dependencies
node_modules/
bun.lock
bun.lockb

# Build outputs
dist/
target/
*.tgz
bindings/node/native/*
!bindings/node/native/README.md

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# IDE & Editor
.vscode/
.idea/
*.sw?

# Cache
.turbo/
.cache/
